/* General stylings for overall layout like html-tags, header, footer, container */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}


//  h2 {
// 	font-size: 2.5rem;  //40px
// 	font-weight: bold;
// 	padding-bottom: $space;
		
// 	@media (min-width: $xs) {
// 		font-size: 3.125rem;  //50px
// 	}
// 	@media (min-width: $sm) {
// 		padding-bottom: $space-sm;
// 	}
// }

// h2 {
// 	font-size: 3.75rem;  //60px
// 	font-weight: bold;
// 	// padding-bottom: $space;
		
// 	@media (min-width: $xs) {
// 		font-size: 4.375rem;  //70px
// 	}
// 	@media (min-width: $sm) {
// 		padding-bottom: $space-sm;
// 	}
// }

// h3 {
// 	font-size: 38px;
// 	font-weight: bold;
// 	padding-bottom:  $space;

// 	@media (min-width: $xs) {
// 		font-size: 2.375rem;  //38px
// 	}

// 	@media (min-width: $sm) {
// 		padding-bottom: $space-sm;
// 	}
// }

// h4 {
// 	font-size: 30px;
// 	font-weight: bold;
// 	padding-bottom: $space;
// }

// p {
// 	font-size: 18px;  
// 	line-height: 1.5;
// 	margin-bottom: 32px;

// 	@media (min-width: $xs) {
// 		font-size: 28px
// 	}
// }


.section {
	height: 100vh;
	// padding: 80px 0 ;
	margin-bottom: 220px;

	.heading {
		padding-bottom: 80px;
		font-size: 72px;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

input, textarea {
	display: block;
}

button {
	padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none
}

.btn {
	border: 3px solid $black;
	width: 300px;
	padding: 12px;
	font-size: 32px;
	text-align: center;
	margin-top: 40px;
	border-radius: 10px;
	cursor: pointer;

	&:hover {
		background: linear-gradient(#445555 to #212121)
	}
}

.small {
	font-size: 20px;
	
}

.extra-small {
	font-size: 15px;
	font-weight: 300;
}

.content-wrapper {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img-responsive {
	max-width: 100%;
	display: block;
	height: auto;

}

//  ==========  Loader   ======================

.loader {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #eb9595;
}
//  ==========  Navigation Desktop  ======================
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #d38b8b;
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 50;
	padding: 0px 30px;
	
}



//  ==========  Home  ======================

.home {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
	margin-bottom: 0;
	

	#hello {
		width: 300px;
		height: 200px;
		transform: translateX(-40px);
	}

	&-heading {
		font-size: 2.5rem;  //40px
		font-weight: bold;
		padding-bottom: $space;
	
		@media (min-width: $lg) {
			align-self: flex-end;
			// transform: translate(-50px, -14px);
		}
			
		@media (min-width: $xs) {
			font-size: 3.125rem;  //50px
		}
		@media (min-width: $sm) {
			padding-bottom: $space-sm;
		}
		@media (min-width: $md) {
			font-size: 80px;  //50px
			line-height: normal;
			
		}
		
	}
 // if i have the hello logo there
	.heading-wrapper {
		@media (min-width: $lg) {
			display: flex;
			flex-direction: row;
			
		}
	
	}
	
	&-subheading {
		font-size: 8vw ;
		margin-bottom: 30px;
		
		@media (min-width: $xs) {
			font-size: 26px; 
		}
	}

	&-content {
		@media (min-width: $md) {
			display: flex;
			justify-content: space-around;
		}
	}

	&-info {
		// border: 2px solid green;
		font-size: 18px;  
		line-height: 1.5;
		margin-bottom: 32px;
	
		@media (min-width: $xs) {
			font-size: 28px;
		}

		@media (min-width: $md) {
			width: 80%;
			margin-right: 25px;
		}
	}

	&-image {
	
		border-radius: 50%;
		width: 70%;

		@media (min-width: $xs) {
			width: 340px;
		}
	}

	.img-wrapper {
		display: flex;	
		flex-direction: column;
		align-self: center;
	}
}
#arrow-scroll {
	width: 100px;
	height: 100px;
	transform: rotate(180deg);
	margin: 0 auto 220px;

	&:hover {
		cursor: pointer;
	}
}


//  ==========  Work  ======================
.work {
	&-group {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		
	}
}


//  ==========  Resume  ======================

.resume {
	height: auto;

	&-grid {
		display: grid;
		// grid-auto-columns: 1fr;
		grid-template-columns: 1fr 1fr;
		column-gap: 220px;
		row-gap: 100px;
	}

	.grid-item-title {
		font-size: 48px;
		margin-bottom: 30px;
	}

	.work,
	.education {
		margin-bottom: 40px;
	}

	.offsite {
		&-link-wrapper {
		display: flex;
		}

		&-icon {
			padding: 3px 0px 0px 9px;	
			cursor: pointer;
		}
	}
	.item-title {
		font-size: 24px;
		line-height: 1.3;
		margin-bottom: 0px;
		font-weight: bold;
	}

	.job-title {
		padding: 5px 0px;;
	}

	.list-items {
		line-height: 1.5;
		font-weight: 300;
	}
	
	.skills {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.course {
		margin-bottom: 40px;

		&-inner {
			margin-bottom: 0px;
		}
	}
}


//  ==========  About  ======================
.about {
	display: flex;
	align-items: flex-end;
	height: auto;	
	
	&-content {
		width: 760px;
		overflow: hidden;
		padding-right: 20px;
	}
	&-title {
		font-size: 32px;
		margin-bottom: 20px;

		&__margin {
			margin-bottom: 0px;
		}
	}

	&-text {
		padding-bottom: 55px;
		font-size: 22px;
		line-height: 1.5;

		&__padding {
			padding-bottom: 30px;
		}
	}

	&-img {
		max-width: 200px;
	}

	.lets-talk {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
			
	}

	.floating-img {
		// position: relative;
		display: flex;
		justify-content: center;
		// flex: 1;
	}

	&-gif {
		width: 60px;
		transform: translate(5px, 15px);
		
	}

	&-btn {
		font-size: 44px;
		font-weight: bold;
		margin-top: 60px;
		width: 370px;
	}

	.love-dogs {
		display: inline;
		
	}
}

// ===  Contact =============================

.contact {
	height: auto;
	margin-bottom: 0px;
	&-info	 {
		margin-bottom: 100px;
	}
	&-text {
		font-size: 32px;
		line-height: 1.5;
	}

	&-inner {
		display: grid;
		grid-template-columns: 1fr 2fr;
		column-gap: 150px;
	}

	&-img {
		width: 300px;
	}

	&-btn {
		width: 100%;
	}

	input, textarea {
		padding: 20px;
		width: 100%;
		margin-bottom: 20px;
		border: none;
		background: #F5F6F8;
		border-radius: 5px;
		
	}

	label {
		display: none;
	}
}

// Footer Section  ===============================

#flower {
	transform: translateY(12px);
}

.social-wrapper {
	display: flex;
	justify-content: center;
}

.footer-info {
	text-align: center;
	padding: 15px 0px 25px;
}