/* General stylings for overall layout like html-tags, header, footer, container */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}


//  h2 {
// 	font-size: 2.5rem;  //40px
// 	font-weight: bold;
// 	padding-bottom: $space;
		
// 	@media (min-width: $xs) {
// 		font-size: 3.125rem;  //50px
// 	}
// 	@media (min-width: $sm) {
// 		padding-bottom: $space-sm;
// 	}
// }

// h2 {
// 	font-size: 3.75rem;  //60px
// 	font-weight: bold;
// 	// padding-bottom: $space;
		
// 	@media (min-width: $xs) {
// 		font-size: 4.375rem;  //70px
// 	}
// 	@media (min-width: $sm) {
// 		padding-bottom: $space-sm;
// 	}
// }

// h3 {
// 	font-size: 38px;
// 	font-weight: bold;
// 	padding-bottom:  $space;

// 	@media (min-width: $xs) {
// 		font-size: 2.375rem;  //38px
// 	}

// 	@media (min-width: $sm) {
// 		padding-bottom: $space-sm;
// 	}
// }

// h4 {
// 	font-size: 30px;
// 	font-weight: bold;
// 	padding-bottom: $space;
// }

p {
	font-size: 18px;  
	line-height: 1.5;
	margin-bottom: 32px;

	@media (min-width: $xs) {
		font-size: 28px
	}
}


section {
	min-height: 100vh;
	padding: 60px 0 ;
	.heading {
		padding-bottom: 80px;
		font-size: 72px;

	}
}

a {
	text-decoration: none;
	color: inherit;
}

.btn {
	border: 3px solid $black;
	padding: 12px;
	font-size: 32px;
	text-align: center;
	margin-top: 40px;
	border-radius: 10px;
	cursor: pointer;

	&:hover {
		background: linear-gradient(#445555 to #212121)
	}
}

.small {
	font-size: 18px;
}

.extra-small {
	font-size: 16px
}

.content-wrapper {
	width: 80%;
	max-width: 1140px;
	margin: 0 auto;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img-responsive {
	max-width: 100%;
	display: block;
	height: auto;

}

//  ==========  Navigation Desktop  ======================
.nav {
	display: flex;
	justify-content: space-between;
}



//  ==========  Home  ======================
.home {
	display: flex;
	align-items: center;

	&-heading {
		font-size: 2.5rem;  //40px
		font-weight: bold;
		padding-bottom: $space;
			
		@media (min-width: $xs) {
			font-size: 3.125rem;  //50px
		}
		@media (min-width: $sm) {
			padding-bottom: $space-sm;
		}
		@media (min-width: $md) {
			font-size: 100px;  //50px
		}
	}
	
	&-subheading {
		font-size: 8vw ;
		margin-bottom: 30px;
		
		@media (min-width: $xs) {
			font-size: 26px; 
		}
	}

	&-content {
		@media (min-width: $md) {
			display: flex;
			justify-content: space-around;
		}
	}

	&-info {
		@media (min-width: $md) {
			width: 80%;
			padding-right: 60px;
		}
	}

	&-image {
	
		border-radius: 50%;
		width: 70%;

		@media (min-width: $xs) {
			width: 340px;
		}
	}

	.img-wrapper {
		display: flex;	
		flex-direction: column;
		align-self: center;
	}
}

//  ==========  Work  ======================
.work {
	&-group {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}


//  ==========  Resume  ======================

.resume {
	&-grid {
		display: grid;
		grid-auto-columns: 1fr;
		grid-template-columns: 1fr 1fr;
		column-gap: 220px;
		row-gap: 100px;
	}

	.grid-item-title {
		font-size: 48px;
		margin-bottom: 30px;
	}

	.item-title {
		font-size: 20px;
		line-height: 1.5;
		margin-bottom: 0px;
		font-weight: bold;
	}

	.list-items {
		// font-size: 16px;
		line-height: 1.5;
		font-weight: 300;
	}
	
	.skills {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.course {
		margin-bottom: 40px;

		&-inner {
			margin-bottom: 0px;
		}
	}
}


//  ==========  About  ======================
.about-text {
	padding-bottom: 30px;
}