@mixin center-content($wide: false) {
	@if $wide {
		max-width: $container-width;
	} @else {
		max-width: $content-width;
	}
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* Media Queries */
