//Wrapper
$container-width : 1300px;
$content-width: 1140px;

// Colors
$primary: #B6465F;
$primary-dark: darken($primary, 10%);
$primary-light: lighten($primary, 40%);
$primary-very-light: rgba($primary, 0.1);
$secondary: #DA9F93;
$secondary-dark: darken($secondary, 10%);
$secondary-light:lighten($secondary, 10%);
$accent: #890620;
$white: #ffffff;
$grey-light: #fafafa;
$grey-medium: #ebebeb;
$grey-semi: #b2b2b2;
$grey-dark: #404040;
$black: #262626;
$true-black: #000000;

// Breakpoints

// Breakpoints
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;


/* Spacing */
$space: 16px;
$space-xs: $space / 4;
$space-sm: $space / 2;
$space-md: $space * 2;
$space-lg: $space * 4;
$space-xl: $space * 8;