/* @import "base/reset"; */
/* base */
/* Media Queries */
/* Spacing */
/* General stylings for overall layout like html-tags, header, footer, container */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

section {
  height: 100vh;
  margin-bottom: 220px;
}

section .heading {
  padding-bottom: 80px;
  font-size: 72px;
}

a {
  text-decoration: none;
  color: inherit;
}

input, textarea {
  display: block;
}

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}

.btn {
  border: 3px solid #262626;
  width: 300px;
  padding: 12px;
  font-size: 32px;
  text-align: center;
  margin-top: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(to, #445555));
  background: linear-gradient(#445555 to #212121);
}

.small {
  font-size: 20px;
}

.extra-small {
  font-size: 18px;
}

.content-wrapper {
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-responsive {
  max-width: 100%;
  display: block;
  height: auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home #hello {
  width: 300px;
  height: 200px;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.home-heading {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 16px;
}

@media (min-width: 1200px) {
  .home-heading {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-transform: translate(-50px, -14px);
            transform: translate(-50px, -14px);
  }
}

@media (min-width: 480px) {
  .home-heading {
    font-size: 3.125rem;
  }
}

@media (min-width: 768px) {
  .home-heading {
    padding-bottom: 8px;
  }
}

@media (min-width: 992px) {
  .home-heading {
    font-size: 80px;
  }
}

@media (min-width: 1200px) {
  .home .heading-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.home-subheading {
  font-size: 8vw;
  margin-bottom: 30px;
}

@media (min-width: 480px) {
  .home-subheading {
    font-size: 26px;
  }
}

@media (min-width: 992px) {
  .home-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.home-info {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 32px;
}

@media (min-width: 480px) {
  .home-info {
    font-size: 28px;
  }
}

@media (min-width: 992px) {
  .home-info {
    width: 80%;
    margin-right: 25px;
  }
}

.home-image {
  border-radius: 50%;
  width: 70%;
}

@media (min-width: 480px) {
  .home-image {
    width: 340px;
  }
}

.home .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.work-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resume-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 220px;
          column-gap: 220px;
  row-gap: 100px;
}

.resume .grid-item-title {
  font-size: 48px;
  margin-bottom: 30px;
}

.resume .work,
.resume .education {
  margin-bottom: 40px;
}

.resume .item-title {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 0px;
  font-weight: bold;
}

.resume .list-items {
  line-height: 1.5;
  font-weight: 300;
}

.resume .skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.resume .course {
  margin-bottom: 40px;
}

.resume .course-inner {
  margin-bottom: 0px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about-content {
  width: 760px;
  overflow: hidden;
  padding-right: 20px;
}

.about-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-title__margin {
  margin-bottom: 0px;
}

.about-text {
  padding-bottom: 55px;
  font-size: 22px;
  line-height: 1.5;
}

.about-text__padding {
  padding-bottom: 30px;
}

.about-img {
  max-width: 200px;
}

.about .lets-talk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.about .floating-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-gif {
  width: 60px;
  -webkit-transform: translate(5px, 15px);
          transform: translate(5px, 15px);
}

.about-btn {
  font-size: 44px;
  font-weight: bold;
  margin-top: 60px;
  width: 370px;
}

.about .love-dogs {
  display: inline;
}

.contact {
  margin-bottom: 0px;
}

.contact-info {
  margin-bottom: 100px;
}

.contact-text {
  font-size: 32px;
  line-height: 1.5;
}

.contact-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-column-gap: 150px;
          column-gap: 150px;
}

.contact-img {
  width: 300px;
}

.contact-btn {
  width: 100%;
}

.contact input, .contact textarea {
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  background: #F5F6F8;
  border-radius: 5px;
}

.contact label {
  display: none;
}

.social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-info {
  text-align: center;
  padding: 15px 0px 25px;
}
/*# sourceMappingURL=main.css.map */